.header {
    display : flex;
    flex-direction: column;

    &__title {
        color: #F8D90F;
        font-family: 'Kdam Thmor Pro', sans-serif; 
        font-size: 30px;
    }

    &__block {
        padding : 2%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .projects {
        margin: 0;

        &__title {
            margin: 2%;
        }
    }
}
